#items-screen {
  margin-top: 1rem;
  overflow: hidden;
  padding: 1rem;
}
#is-items {
  display: flex;
  align-items: center;
  flex-flow: column;
  .character-image {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
  }
  .items {
    gap: 2rem;
  }
}
.token {
  display: flex;
  gap: 0.5rem;
  flex-flow: column;
  align-items: center;
}
