.dice-container {
  z-index: 110;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 7px;
  visibility: hidden;
}
#dice-container-character {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;

  & > div {
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    width: 7rem;
    height: 7rem;
  }
}
.dice-mover {
  transition:
    left 1s,
    top 1s;
  position: relative;
  top: 80%;
  left: 80%;
  width: 10em;
  height: 10em;
}
.dice-base {
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px 16px black;
  background-color: #000000bf;
  border-radius: 50%;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 0;
  left: 0;
}
.dice {
  width: 10em;
  height: 10em;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 2rem) rotateX(0) rotateZ(0);
  // transition: transform 1s;
  position: relative;
  pointer-events: none;
  &.show-1 {
    transform: translate3d(-50%, -50%, 2rem) rotateX(720deg) rotateZ(-720deg);
  }

  &.show-6 {
    transform: translate3d(-50%, -50%, 2rem) rotateX(-990deg) rotateZ(810deg);
  }

  &.show-3 {
    transform: translate3d(-50%, -50%, 2rem) rotateY(-900deg) rotateZ(-1440deg);
  }

  &.show-4 {
    transform: translate3d(-50%, -50%, 2rem) rotateX(-810deg) rotateZ(-1080deg);
  }

  &.show-5 {
    transform: translate3d(-50%, -50%, 2rem) rotateY(810deg) rotateZ(810deg);
  }

  &.show-2 {
    transform: translate3d(-50%, -50%, 2rem) rotateX(900deg) rotateZ(-900deg);
  }
  &.no-roll {
    &.show-1 {
      transform: translate3d(-50%, -50%, 2rem) rotateX(0deg) rotateZ(-0deg);
    }

    &.show-6 {
      transform: translate3d(-50%, -50%, 2rem) rotateX(-270deg) rotateZ(90deg);
    }

    &.show-3 {
      transform: translate3d(-50%, -50%, 2rem) rotateY(-180deg) rotateZ(-0deg);
    }

    &.show-4 {
      transform: translate3d(-50%, -50%, 2rem) rotateX(-90deg) rotateZ(-0deg);
    }

    &.show-5 {
      transform: translate3d(-50%, -50%, 2rem) rotateY(90deg) rotateZ(90deg);
    }

    &.show-2 {
      transform: translate3d(-50%, -50%, 2rem) rotateX(180deg) rotateZ(-180deg);
    }
  }

  .side-wrapper {
    position: absolute;
    width: 10em;
    height: 10em;
    line-height: 2em;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .black .side {
    background: #0d0d0d;
    background: radial-gradient(circle, rgba(13, 13, 13, 1) 0%, rgba(46, 45, 45, 1) 50%, rgba(3, 2, 2, 1) 100%);
  }
  .red .side {
    background: #9d2124;
    background: radial-gradient(circle, rgba(157, 33, 36, 1) 0%, rgba(122, 34, 36, 1) 50%, rgba(74, 7, 7, 1) 100%);
  }
  .yellow .side {
    background: #eea92e;
    background: radial-gradient(circle, rgba(238, 169, 46, 1) 0%, rgba(250, 171, 0, 1) 30%, rgba(61, 44, 13, 1) 100%);
  }
  .side {
    width: 100%;
    height: 100%;
  }
  .image {
    background-image: url(img/dice-spritesheet.png);
    width: 10em;
    height: 10em;
  }
  .side-wrapper.one {
    transform: translateZ(4.8em);
    .image {
      background-position: 0px 0px;
      background-size: 60em 10em;
    }
  }
  .side-wrapper.two {
    transform: rotateY(-180deg) translateZ(4.8em);
    .image {
      background-position: -10em 0px;
      background-size: 60em 10em;
    }
  }
  .side-wrapper.three {
    transform: rotateY(-90deg) translateZ(4.8em);
    .image {
      background-position: -20em 0px;
      background-size: 60em 10em;
    }
  }
  .side-wrapper.four {
    transform: rotateX(90deg) translateZ(4.8em);
    .image {
      background-position: -30em 0px;
      background-size: 60em 10em;
    }
  }
  .side-wrapper.five {
    transform: rotateX(-90deg) translateZ(4.8em);
    .image {
      background-position: -40em 0px;
      background-size: 60em 10em;
    }
  }
  .side-wrapper.six {
    transform: rotateY(90deg) translateZ(4.8em);
    .image {
      background-position: -50em 0px;
      background-size: 60em 10em;
    }
  }
  // .corner {
  //   transform: rotateX(45deg) rotateY(45deg);
  //   background-color: #fff;
  // }
}
