.image {
  background-repeat: repeat;
  position: relative;
}
.card {
  border-radius: 10px;
  border: 1px solid #000;
  &.skull {
    border: none;
    border-radius: 0;
  }
}
.boards-card {
  background-image: url(img/boards-spritesheet.png);
  position: relative;
}
.character-card {
  background-image: url(img/character-spritesheet.png);
}
.character-board-card {
  background-image: url(img/player-board.png);
}

.character-token-card {
  background-image: url(img/character-token-spritesheet.png);
  border-radius: 50%;
  &-base {
    border-radius: 50%;
    box-shadow: 0px 0px 2px 6px var(--color);
  }
}
.revenge-card {
  background-image: url(img/revenge-spritesheet.png);
}
.dial-card {
  background-image: url(img/dial.png);
}
.tracker-card {
  background-image: url(img/tracker.png);
}
.deckhand-card {
  background-image: url(img/deckhand.png);
  &.selectable {
    background-position: 0 0 !important;
    filter: saturate(3.5) hue-rotate(135deg) brightness(2);
    &.selected:not(#\9):not(#\9):not(#\9) {
      filter: unset;
      border-radius: unset;
      border: unset;
    }
  }
}
.player-board-card {
  background-image: url(img/player-board.png);
}
.tile-card {
  background-image: url(img/tile-spritesheet.png);
  &.ocean {
    box-shadow: 0px 0px 0px 1px #222222;
  }
}
.tile-card.dinghy::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 85px;
  border-left: 10px solid #090808;
  border-right: 10px solid #090808;
}
#map-container {
  .tile-card {
    height: 300px !important;
  }
}
.ocean-base {
  background: #222222;
}
.item-card {
  background-image: url(img/item-spritesheet.png);
}
.token-card {
  background-image: url(img/token-spritesheet.png);
  border-radius: 50%;
  &-base {
    border-radius: 50%;
    box-shadow: 0px 0px 2px 6px var(--color);
  }
}

.tooltip-text {
  background-color: rgba($color: #fff, $alpha: 0.8);
  font-size: 1.15rem;
  padding: 1rem;
  width: 350px;
  border-radius: 10px;
  .tooltip-line:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .tooltip-title {
    font-size: 1.25rem;
  }
}
.tooltip-image-and-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-flow: column;
}
