.image {
  background-repeat: repeat;
  position: relative;
}
.card {
  border-radius: 10px;
  border: 1px solid #000;
  &.skull {
    border: none;
    border-radius: 0;
  }
}
// .card-rotator {
/* margin: 0 auto 1em; */
// position: relative;
// place-self: anchor-center;
// pointer-events: none;
// }
/* #players-container .card-rotator {
    margin: 0;
} */
.boards-card {
  background-image: url(img/boards-spritesheet.png);
  position: relative;
}
.character-card {
  background-image: url(img/character-spritesheet.png);
}
.character-board-card {
  background-image: url(img/player-board.png);
}
.character-token-card {
  background-image: url(img/character-token-spritesheet.png);
  border-radius: 50%;
}
.revenge-card {
  background-image: url(img/revenge-spritesheet.png);
}
.dial-card {
  background-image: url(img/dial.png);
}
.tracker-card {
  background-image: url(img/tracker.png);
}
.player-board-card {
  background-image: url(img/player-board.png);
}
.tile-card {
  background-image: url(img/tile-spritesheet.png);
  &.ocean {
    box-shadow: 0px 0px 0px 1px #222222;
  }
}
.item-card {
  background-image: url(img/item-spritesheet.png);
}
.token-card {
  background-image: url(img/token-spritesheet.png);
  border-radius: 50%;
}

.tooltip-text {
  background-color: rgba($color: #fff, $alpha: 0.8);
  font-size: 1.15rem;
  padding: 1rem;
  width: 350px;
  border-radius: 10px;
  .tooltip-line:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .tooltip-title {
    font-size: 1.25rem;
  }
}
.tooltip-image-and-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-flow: column;
}
