#map-container {
  position: relative;
}
.map-buttons-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0.5rem;
  right: 0px;
  left: 0;
}
.map-buttons {
  display: flex;
  gap: 1rem;
  background: #fff;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}
.place-new .ocean {
  cursor: pointer;
  box-shadow: inset 0 0 7px 7px #fff;
}
.tile-selector {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 14px dotted #fff;
  width: 7rem;
  height: 7rem;
  transform: translate(-50%, -50%);
  margin: -2px;
  &.tile-selected {
    border: 14px dotted #ff0000;
  }
  .dot {
    --size: 4.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.map-wrapper {
  margin-bottom: 1rem;
  border: 1px solid;
  box-shadow: 0px 0px 2px;
  position: relative;
  .new-card {
    position: absolute;
    top: 0;
    left: 0;
    .new-card-buttons {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      button {
        font-size: 50px;
      }
    }
    .tile-card {
      transition: 0.5s transform;
    }
    // #rotate-left {

    // }
    // #rotate-right {
    // }
  }
  #new-card-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tooltip-image-and-text {
    > .dice {
      position: absolute;
      top: 100px;
      left: 100px;
    }
    > .trapdoor {
      position: absolute;
      top: 10px;
      left: 10px;
      box-shadow: 1px -1px 7px 4px #000;
    }
    > .deckhands {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      gap: 3px;
      .dot {
        --size: 3rem;
        font-size: 2rem;
      }
    }
    > .barrel-marker {
      position: absolute;
      // bottom: 10px;
      // left: 50%;
      // pointer-events: none;
      // transform: translate(-50%, 0);
      top: 50%;
      left: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%) rotateZ(calc(var(--rotate) * 1deg)) translate(0%, 95px);
    }
    > .tokens {
      --count: 0;
      --size: 100px;
      $item-size: 50px;
      position: absolute;
      &.characters {
        bottom: 20px;
        left: 20px;
        pointer-events: none;
      }
      &.treasures {
        bottom: 20px;
        right: 20px;
      }
      width: var(--size);
      height: var(--size);
      > * {
        // &::before {
        //   content: '';
        //   box-shadow: 0px 0px 20px 20px #ffffff87;
        //   border-radius: 50%;
        //   background: #ffffff87;
        //   width: var(--size);
        //   height: var(--size);
        //   display: block;
        // }
        display: block;
        position: absolute;
        z-index: 1;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transform: rotate(calc(360deg * sign(var(--count)) * #{$i - 1} / max(var(--count), 1)))
              translate(calc(var(--size) / 3 * sign(max(0, var(--count) - 1))))
              rotate(calc(-360deg * sign(var(--count)) * #{$i - 1} / max(var(--count), 1)));
            transition: transform 1s;
          }
        }
      }
      .temp-mover {
        width: var(--size);
        height: var(--size);
      }
      // .character-token-card-base {
      // }
    }
  }
  .tracker-base > .tokens.characters {
    left: unset;
    bottom: -25px;
  }
}

.token-flip {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  position: absolute;
  transition: transform 0.8s;
  top: 0;
  left: 0;
  &-inner {
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip .token-flip-inner {
  transform: rotateY(180deg);
}
.token-flip-front,
.token-flip-back {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.token-flip-back {
  position: absolute;
  top: 0;
  left: 0;
}
/* Style the back side */
.token-flip-back {
  transform: rotateY(180deg);
}
