@use 'sass:meta';

@include meta.load-css('utils/clickable');
html {
  background: url(img/background.png) top left;
  background-size: 100%;
}
.dmtnt {
  @keyframes dmtnt_red-color-transition {
    0% {
      color: red;
    }

    30% {
      color: #f3ff00;
    }

    40% {
      color: red;
    }
    to {
      color: red;
    }
  }
  @keyframes dmtnt_warning-transition {
    0% {
      color: #000;
    }

    30% {
      color: red;
    }
    40% {
      color: #000;
    }

    to {
      color: #000;
    }
  }
  @include meta.load-css('utils/deck');
  @include meta.load-css('utils/dice');
  @include meta.load-css('utils/images');
  @include meta.load-css('utils/map');
  @include meta.load-css('utils/selector');
  @include meta.load-css('utils/tooltip');
  @include meta.load-css('utils/tweening');
  @include meta.load-css('screens/card-selection-screen');
  @include meta.load-css('screens/character-selection-screen');
  @include meta.load-css('screens/items-screen');
  @include meta.load-css('main');
  @include meta.load-css('boards');
  @include meta.load-css('player-card');
  @include meta.load-css('player-side-panel');
  .selected:not(#\9):not(#\9):not(#\9) {
    border: 5px solid var(--player-color, #fff);
    margin: 0;
    border-radius: 10px;
  }
  .tooltip {
    &.icon {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-0.75rem) translateY(-0.5rem);
      .dot {
        position: unset;
      }
      .fa-question {
        font-size: 16px;
      }
      .fa-fire {
        font-size: 16px;
      }
    }
  }
  .tooltip-box {
    font-size: 20px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    gap: 1rem;
    min-width: 350px;
    max-width: 525px;
    align-items: flex-start;
    .tooltip-text {
      width: unset;
    }
    > span {
      margin-right: 1rem;
    }
  }
  .label {
    color: #000;
    margin-left: 6px;

    // color: #ff0000;
    // font-weight: 600;
    // font-size: 18px;
    // -webkit-text-stroke: 0.5px #000;
    // text-stroke: 0.5px #000;
  }
  // .fatigue .label {
  //   color: #ff0000;
  // }
  // .actions .label {
  //   color: #ffff00;
  // }
  // .item .label {
  //   color: #00ff16;
  // }
  .fa-heart {
    position: relative;
    top: 1px;
  }
  .fkp-unlocked {
    pointer-events: none;
  }
  button {
    background-color: #4871b6;
    border: 1px solid #37578c;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    width: unset;
    padding: 6px 12px;
    text-shadow: #0006 0 1px 0;
    border-radius: 6px;
    box-shadow: 0 1px 0 #000;
    cursor: pointer;
  }
}

.action-button .dmtnt__stamina {
  color: #ffff00;
  margin-left: 0.25em;
}

.action-button .dmtnt__health {
  color: #ff0000;
  margin-left: 0.25em;
}

.action-button .dmtnt__fkp {
  color: #00ff16;
  margin-left: 0.25em;
}
.action-button .dmtnt__dice {
  color: #fff;
  margin-left: 0.25em;
}
.action-button .dmtnt__sun {
  color: #ffff00;
  margin-left: 0.25em;
}
.action-button .dmtnt__forever {
  color: #ff8800;
  margin-left: 0.25em;
}

.dmtnt__container {
  margin: 0 auto 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  .content {
    display: flex;
    flex-flow: column;
  }
}

.dmtnt__log-button {
  border: 2px solid #737373;
  padding: 3px 5px;
  border-radius: 8px;
  display: inline-block;
  margin: 3px 1px 0px;
  background: #eee;
  cursor: pointer;
  color: #000;
}
.mobile_version .player-board-game-specific-content.one-player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   gap: 0rem 1rem;
}
// .mobile_version #player_boards {
//   grid-template-columns: 1fr;
// }
.mobile_version .character-side-container {
  padding: 0.25rem 1rem;
}
