#players-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  .player-card {
    display: flex;
    > .card {
      position: relative;
      align-self: flex-start;
    }
    .card-container {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      gap: 1rem;
    }
    // .character {
    //   position: absolute;
    //   top: 1rem;
    //   left: -90px;
    // }
    // .item {
    //   position: absolute;
    // }
  }
  .inner-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1em;
  }
  .fatigue-dial {
    position: absolute;
    top: 43px;
    left: 137px;
    > .dial-base {
      transform: rotate(var(--rotate, 0deg));
      transition: 1s transform;
      transform-origin: 50% 82px;
    }
  }
  .strength-marker {
    position: absolute;
    bottom: 20px;
    transition: 1s left;
  }
  .actions-marker {
    position: absolute;
    bottom: 83px;
    right: 6px;
    box-shadow: 0px 0px 10px 2px #000;
    border-radius: 50%;
  }
}
