#players-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  .player-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    > .card {
      position: relative;
      align-self: flex-start;
    }
    .card-container {
      display: flex;
      flex-direction: row;
      margin: 1rem;
      gap: 1rem;
    }
    .character {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
    // .item {
    //   position: absolute;
    // }
  }
  .inner-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1em;
  }
  .fatigue-dial {
    position: absolute;
    top: 43px;
    left: 137px;
    > .dial-base {
      transform: rotate(var(--rotate, 0deg));
      transition: 1s transform;
      transform-origin: 50% 82px;
    }
  }
  .fatigue-tooltips {
    &-2 {
      position: absolute;
      top: 56px;
      left: 15px;
    }
    &-3 {
      position: absolute;
      top: 170px;
      left: 15px;
    }
    &-4 {
      position: absolute;
      top: 222px;
      left: 195px;
    }
    &-5 {
      position: absolute;
      top: 140px;
      right: 40px;
    }
  }
  .strength-marker {
    position: absolute;
    bottom: 20px;
    transition: 1s left;
  }
  .cutlass-marker {
    position: absolute;
    bottom: 20px;
    transition: 1s left;
  }
  .actions-marker {
    position: absolute;
    bottom: 83px;
    right: 6px;
    box-shadow: 0px 0px 10px 2px #000;
    border-radius: 50%;
  }
  .token-items {
    --count: 0;
    --size: 75px;
    $item-size: 50px;
    position: relative;
    width: 125px;
    // height: 125px;
    .token-card-base {
      box-shadow: 0px 0px 2px 4px var(--color);
    }
    > * {
      display: block;
      position: absolute;
      z-index: 1;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: translate(calc(var(--size) / 2), calc(var(--size) / 3))
            rotate(calc(360deg * sign(var(--count)) * #{$i - 1} / max(var(--count), 1)))
            translate(calc(var(--size) / 3 * sign(max(0, var(--count) - 1))))
            rotate(calc(-360deg * sign(var(--count)) * #{$i - 1} / max(var(--count), 1)));
          transition: transform 1s;
        }
      }
    }
  }
}
